<h1 id="title">Welcome to Ember.js</h1>

<div>
  {{#link-to 'simple'}}
  Simple Example
  {{/link-to}}
</div>

<div>
  {{#link-to 'custom-scrollable'}}
  Custom Scrollable
  {{/link-to}}
</div>

{{outlet}}
